<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8" />
    <title class="titulo-principal">curriculum</title>
    <link href="reset.css" rel="stylesheet">
    <link href="curriculo.css" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Courgette|Notable&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Notable&display=swap" rel="stylesheet">
  </head>
  <body>
    <h3 class="img-fundo"><img src="/img/amor fundo.jpg"></h3>
    <h1 class="titulo">sobre mim</h1>
     <p>Olá seja muito bem vindo e obrigado por ter vindo até aqui para saber mais ao meu respeito!!.</p>
     <p>Bom mais se você já está aqui saiba que começei tudo isso para poder ter uma vida melhor e também proporcionar uma vida melhor a minha esposa sou nascido e criado em uma pequena cidade do interior de São Paulo tenho 24 anos e tenho sempre em mente o melhor para mim e para o cliente.</p>
     <p>Mais deixaremos o restante dessa história para mais terde certo pois sei que seu interesse maior é em como trabalho e qual a minha formação!! Sem tomar mais um minuto se quer veja abaixo meu contato e formação!!.</p>
    <h2 class="subtitulo">formação & contato!</h2>
     <p>Atualmente sou formado em Html5 e Css3 também estou cursando e quase concluindo Javascript e alguns outros conseitos e áreas com mais importancia em Front-end mais também tenho em aberto uma formação em Back-end com essa comclusão estarei atuando como FULLSTACK !!</p>
     <p>PARA MAIS INFORMAÇÕES COMO DISPONIBILIDADE DO SERVIÇO,VALORES E ETC... CONTATOS ABAIXO OBRIGADO!!</P>
  <div>
   <ul>
     <li>
        <a class="gmail" href="giovannisantos060912@gmail.com"><img src="/img/gmail-logo.png" alt="gmail giovanni santos!!"></a>
     </li>
     <li>
       <a class="facebook" href="/"><img src="/img/facebook-logo.png" alt="facebook giovanni santos"></a>
     </li>
     <li>
       <a class="whatsapp" href="/"><img src="/img/whatsapp (2).png" alt="whatsapp giovanni santos"></a>
     </li>
     <li>
      <a class="telefone" href="/"><img src="/img/telefone.png" alt="telefone para contato"></a>
     </li>
     <li>
      <a class="local" href="/"><img src="/img/local.png" alt=" meu endereço"></a>
     </li>
   </ul>
  </div>
 </body>
</html>